---
import HeaderLink from "./HeaderLink.astro";
---

<div
  class="animate__animated animate__fadeInDown fixed items-center z-50 flex flex-col md:flex-row w-full justify-between rounded border-b border-neutral-700 bg-zinc-900 py-2 px-0.5 sm:px-4 md:px-8 lg:px-32"
>
  <a class="font-black text-2xl" href="/">JACKSTA'S BLOG</a>
  <HeaderLink href="https://www.jacksta.dev">Go home</HeaderLink>
</div>
